# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Upload files
public/uploads/*
!public/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/
